<div class="d-flex align-items-center">
    <h1>投稿一覧</h1>
    <div class="ml-auto posts_button">
        <%= link_to '新規投稿', new_topic_path ,class: 'text-white' %>
    </div>    
</div>
<table>
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 40px">学年</th>
      <th scope="col" style="width: 40px">科目</th>
      <th scope="col" style="width: 200px">単元</th>
      <th scope="col" style="width: 500px">概要</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @topics.each do |topic| %>
        <tr>
            <th><%= topic.grade %></th>
            <td><%= topic.subject %></td>
            <td><%= topic.unit %></td>
            <td><%= topic.summary %></td>
            <% if logged_in? && current_user.id == topic.user_id %>
              <td><%= link_to '削除', topic_path(topic), method: :delete, class: 'btn btn-outline-info'%></td>
            <% end %>
            <td><%= link_to '詳細', topic_path(topic), class: 'btn btn-outline-info' %></td>
        </tr>
      <% end %>
  </tbody>
</table>