 <h1>新規投稿</h1>
 <%= form_for @topic, :builder => CustomFormBuilder do |f| %>
        　<div class="form-group">
            <%= f.label :学年, class: 'text-white' %>
            <%= f.select :grade, ["1年","2年","3年","その他"], :prompt => "選択してください", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :科目, class: 'text-white' %>
            <%= f.select :subject, ["国語","数学","理科","英語","社会","その他"], :prompt => "選択してください", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :単元, class: 'text-white' %>
            <%= f.text_field :unit, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :授業のねらい, class: 'text-white' %>
            <%= f.text_area :goal, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :授業の概要, class: 'text-white' %>
            <%= f.text_area :summary, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :添付ファイル, class: 'text-white' %>
            <%= f.file_field :lesson, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :参考資料, class: 'text-white' %>
            <%= f.text_area :reference, class: 'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
<% end %>






 