<div class="topics_show_wrapper">
    <div class="topics-show-container">
        <div class="row">
            <div class="card col-md-offset-3 col-md-6 col-md-offset-3 ">
                <div class="show_title">
                    <h3 class="text-white text-left">投稿詳細</h3>
                    <div class="text-right">
                        <%= link_to '戻る', topics_path , class: 'text-white btn btn-info btn-default' %>
                        <%= link_to '編集', edit_topic_path(@topic) , class: 'text-white btn btn-info btn-default' %>
                    </div>
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <th><h4>学年</h4></th>
                        <td><h4 class="text-center"><%= @topic.grade %></h4></td>
                    </tr>
                    <tr>
                        <th></h4>科目</h4></th>
                        <td><p class="text-center"><%= @topic.subject %></p></td>
                    </tr>
                    <tr>
                        <th><h4>小単元</h4></th>
                        <td><p class="text-center"><%=@topic.unit %></p></td>
                    </tr>
                    <tr>
                        <th><h4>授業ファイル</h4></th>
                        <td>
                            <p class="text-center">
                              <% if @topic.lesson.attached? && @Attachment_image%>
                                  <%= image_tag @topic.lesson %>
                                <% end %>
                            </p>
                     
                            <p class="text-center">
                            <strong>ダウンロード:</strong>
                                <% if @topic.lesson.attached? %>
                                    <%= link_to "添付ファイル(" +  @ext +")" ,rails_blob_path(@topic.lesson) %>
                                <% end %>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th><h4>参考資料</h4></th>
                        <td><p class="text-center"><%=@topic.reference %></p></td>
                    </tr>
                </table>
            </div>
            <div class="card col-md-offset-2 col-md-8 col-md-offset-2 ">
                <div class="card-header  lg-3 text-white">
                    <h4>授業のねらい</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= simple_format(@topic.goal) %></p>
                </div>
            </div>
            <div class="card col-md-offset-2 col-md-8 ">
                <div class="card-header  text-white">
                    <h4>授業の概要</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= simple_format(@topic.summary) %></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-offset-2 col-md-8 ">
                <div class="card-header  text-white">
                    <h4>コメント一覧</h4>
                </div>
                <div>
                    <% @coments.each do |coment| %>
                        <p>
                            <strong>
                                <%= coment.user.name%>
                                <%= simple_format coment.content %>
                            </strong>
                        </p>
                        <p class="text-right">
                            <%=link_to "削除", topic_coment_path(coment.topic.id, coment.id),class: "text-white btn btn-info btn-default" , method: :delete %>
                            </p>
                    <% end %>
                </div>
                <h4>コメントを追加</h4>
                <%= form_for( [@topic, @topic.coments.build] ) do |f| %>
                    <%= f.text_area :content, class:'form-control'%>
                    <div class="text-right comment_filed">
                    <%= f.submit "コメントする", class: 'btn btn-primary btn-lg ' %>
                    </div>
                <% end %>
            </div>
        </div>    
    </div>
</div>


                    
                    
                  


